---
---

@import 'values';

body,h1,h2,h3,h4 {
    font-family: "ProximaNova", Helvetica, Arial, sans-serif;
    color: $font-color-dark-grey;
    font-size: $font-size-s;
    font-style: normal;
}

h2 { font-size: $font-size-l; font-weight: $font-weight-heavy;}
h3 { font-size: $font-size-l; font-weight: $font-weight-normal;}
h4 { font-size: $font-size-m; font-weight: $font-weight-normal;}


.pull-right {
    float:right;
}

h1 {
    line-height: 24px;
    font-size: $font-size-xl;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}



.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}

a {color: $font-color-blue; }
a:hover {text-decoration: none;}
h3 {color: $font-color-green; }
h4 {color: $font-color-green; font-variant: normal;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: $primary-color-hover;
}

.nav > li > a:hover {
    background-color: $sidebar-hover;
}
.nav > li.active > a {
    color: $color-blue;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #EDEDED;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: $sidebar-hover;
}

.nav li.thirdlevel > a {
    background-color: #F3F3F3 !important;
}

a[data-toggle="tooltip"] {
    color: #649345;
    cursor: default;
}

.navbar-inverse {
    background-color: $color-sidebar-grey;
    border-color: $color-shadow;
    color: $font-color-dark-grey;
}


/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: $font-color-light-grey;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: $font-color-green;
}
.navbar-inverse .navbar-brand {
    color: $font-color-light-grey;
}
.navbar-inverse .navbar-brand:hover {
    color: $font-color-green;
}
.btn-primary {
    color: #ffffff;
    background-color: #347DBE;
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #347DBE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #347DBE;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

#home-search {
    display: block;
    width: 70%;
    font-size: 16px;
    position: relative;
    padding: 9px 0;
    #home-search-input {
        width: 100%;
        height: 36px;
        padding: 0 9px;

    }
}

#home-results-container {    
    list-style: none;
    border: 1px solid #dfdfdf;
    border-top: none;
    margin-top: -1px;
    position: absolute;
    padding: 0;
    background: white;
    width: 100%;
    li {
        border-top: 1px solid #dfdfdf;
        margin: 0;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            background: #f6f6f6;
        }
        a {
            padding: 0 9px;
            color:#565656;
            display: block;
            width: 100%;
            height: 36px;
            line-height: 36px;
        };
    };
}

.support-home-wrapper {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    .support-home-right, .support-home-left {
        padding: 108px 36px;
        flex-grow:1;
        width:50%;
        margin-bottom: 9px;
        h3 {
            font-size: 20px;
        };
        p {
            font-size: 17px;
        };
        
        .btn {
            color: #565656;
            background: #f6f6f6;
            font-size: 13px;
            border-radius:0;
            min-width:110px;
            
        };
    };
    .support-home-right {
        border-left: 1px solid #dfdfdf;
    }
}